<h1>News of Grodno branch of LODE</h1>

<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading && newsList.length < 1">List of news is empty</div>

<div id="news-list" *ngFor="let news of newsList">
    <h2>{{ news.title }}</h2>
    <h3>{{ news.description }} </h3>
    <div class="created_on">
        <p>
            <span *ngIf="news.lastEdit">Последнее редактирование: {{news.lastEdit | date:'HH:mm / yyyy-MM-dd'}}</span> <br>
            Автор: {{news.createdBy}} <br>
            Опубликовано: {{ news.startDate | date:'yyyy-MM-dd'}}
        </p>
    </div>
    <a [routerLink]="['/newsDetails', news.id]">Details</a>
    <br>
    <hr>
</div>
