/.idea
*.ipr
*.iws
*.iml
.settings
.classpath
.project
*.war
*.class
/.gradle/
/build/
/classes/
/client/.idea
/client/bundles
/client/node_modules
*.map
*.js
!/client/webpack.config.js
!/client/protractor.conf.js
*.log
!/client/src/e2e/home/home.spec.js
!/client/src/e2e/login/login.spec.js
!/client/src/e2e/full/full.spec.js
