<h1>Admin page title</h1>

<div>
    <h2>List of users</h2>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>roles</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ getRoles(user) }}</td>
            <td>
                <button [routerLink]="['/userEdit', user.username]">Edit</button>
                <button (click)="delete(user.id)">Delete</button>
            </td>
        </tr>
    </table>
    <img *ngIf="loading" [src]="LOADING_ICON"/>
    <div> {{ errorMessage }}</div>
    <button [routerLink]="['/userCreate']">Add</button>
</div>
