table {
    border-collapse: collapse;
    width: 820px;
}

th, td {
    text-align: center;
    padding: 3px;
}

tr:nth-child(even){background-color: #d5f2ac
}

th {
    background-color: #4CAF50;
    color: white;
}