<h2 *ngIf="news.id">Edit news</h2>
<h2 *ngIf="!news.id">Create news</h2>
<div class="container">
    <form #newsForm="ngForm">

        <label>
            Title <br>
            <textarea id="title" name="title" [(ngModel)]="news.title"> {{ news.title }} </textarea>
        </label>
        <br>
        <label>Description
            <br>
            <textarea id="description" name="description"
                      [(ngModel)]="news.description"> {{ news.description }} </textarea>
        </label>
        <br>
        <label>
            Text
            <br>
            <textarea id="content" name="text" [(ngModel)]="news.text"> {{ news.text }} </textarea>
        </label>
        <br>
        <label *ngIf="isRedactor()">
            Approve
            <br>
            <input type="checkbox" id="approved" name="isApproved" [(ngModel)]="news.isApproved"> {{ news.isApproved }}
        </label>
        <br>
        <button type="submit" (click)="updateOrSave()" [disabled]="loading">Save</button>
        <img *ngIf="loading"
             [src]="constant.LOADING_SMALL"/>
    </form>
    <button *ngIf="news.id" (click)="delete(news.id)" [disabled]="loading">Delete</button>
    <button [routerLink]="['/']">Back</button>

    <div> {{ errorMessage }}</div>
    <div> {{ successMessage }}</div>
    <pre>submitted value: <br>{{newsForm.value | json}}</pre>
</div>
