<h2 *ngIf="news.id">Edit news</h2>
<h2 *ngIf="!news.id">Create news</h2>
<div class="container">
    <form #newsForm="ngForm">

        <label>
            Title <br>
            <textarea id="title" name="title" [(ngModel)]="news.title" required minlength="4" > {{ news.title }} </textarea>
        </label>
        <br>
        <label>Description
            <br>
            <textarea id="description" name="description"
                      [(ngModel)]="news.description"> {{ news.description }} </textarea>
        </label>
        <br>
        <label>
            Text
            <br>
            <textarea id="content" name="text" [(ngModel)]="news.text" required minlength="4"> {{ news.text }} </textarea>
        </label>
        <br>
        <material-datepicker [(date)]="news.startDate"></material-datepicker>
        <br>
        <label *ngIf="isRedactor()">
            Approve
            <br>
            <input type="checkbox" id="approved" name="isApproved" [(ngModel)]="news.isApproved"> {{ news.isApproved }}
        </label>
        <br>
        <button type="submit" (click)="updateOrSave()" [disabled]="loading">Save</button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </form>
    <button *ngIf="news.id" (click)="delete(news.id)" [disabled]="loading">Delete</button>
    <button [routerLink]="['/']">Back</button>

    <div> {{ errorMessage }}</div>
    <div> {{ successMessage }}</div>
    <pre>Send data: {{ newsForm.value | json }}</pre>
</div>
